@font-face {
    font-family: 'GangOfTree';
    src: url('../Estilos_CSS/Fontes/gang_of_tree.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'GangOfTree', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Aplicando a fonte personalizada */
    line-height: 0;
}

header {
    background-image: url('../Mídias/Imagens/Estilização/anime_banner.png');
    background-size: cover;
    background-position: center;
    color: #090000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 450px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #b41515;
    font-weight: bold;
    font-family: 'GangOfTree', sans-serif; /* Aplicando a fonte personalizada aos links do menu */
    transition: color 0.3s ease;
    font-size: 30px;
}

nav ul li a:hover {
    color: #ff6600; /* Cor quando o mouse passa por cima */
}

main {
    padding: 0px;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 5px;
    text-align: center;
}
